.leaflet-container {
  width: 50vh; 
  height: 50vh;
}

#root {
  font-family: "Lucida Console", "Courier New", monospace;
  margin-top: 40px;
  margin-left: 300px;
  margin-right: 300px;
}

li {
  list-style-type: none;
}

